html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* -----------------RESET ABOVE---------------------*/

:root {
    font-family: "Helvetica Neue", serif;
    font-size: 25px;
    --background-color: #ffffff;
    --container-color: #ffffff;
    --cell-color: rgba(255, 255, 255, 0.51);
    --cell-hover-color: rgba(233, 236, 239, 0.3);
    --cell-text-color: #7a7a7a;
    --text-color: #646464;
    --cell-border-radius: 20px;
    --modal-background-color: rgba(52, 52, 52, 0.45);
    --modal-main-color: #ffffff;
    --btn-text-color: white;
    --btn-background-color: #4d4d4d;
    --btn-hover-color: #a6a6a6;
    --input-border-color: #d5d5d5;

}



body {
    width: 100vw;
    height: 100vh;
    background-color: var(--background-color);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-color);

}

.main-container {
    width: clamp(300px, 80%, 700px);
    background-color: var(--container-color);
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    gap: 20px;
    padding: 20px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}


.board-container {
    width: 100%;
    height: 100%;
    flex: 4;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.board-grid {
    width: 80%;
    aspect-ratio: 1/1;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 0px;
    box-shadow: rgba(50, 50, 93, 0.1) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.1) 0px 10px 36px -10px inset;
    border-radius: var(--cell-border-radius);
}

.cell {
    width: 100%;
    height: 100%;
    background-color: var(--cell-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    color: var(--cell-text-color);
    border: 0.5px solid rgb(239, 239, 239);
}

.cell:hover {
    background-color: var(--cell-hover-color);
}


.top-left {
    border-top-left-radius: var(--cell-border-radius);
}

.top-right {
    border-top-right-radius: var(--cell-border-radius);
}

.bottom-left {
    border-bottom-left-radius: var(--cell-border-radius);
}

.bottom-right {
    border-bottom-right-radius: var(--cell-border-radius);
}

.score-container {
    width: 100%;
    height: 100%;
    flex: 1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 3%;


}

.newGameBtn {
    align-self: center;
    justify-self: center;
    grid-column: 2;

    width: fit-content;
    height: fit-content;
    border: none;
    border-radius: 3px;
    background-color: var(--btn-background-color);
    color: var(--btn-text-color);
    font-size: 0.7rem;

    margin: 3%;
    padding: 3%;

}

.newGameBtn:hover {
    background-color: var(--cell-color);
    cursor: pointer;
}

/* Modal styles */
.modal {
    display: flex;  /* Change this to flex, only set as none for development purposes */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    margin: auto;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: var(--modal-background-color);
    padding: 15px;
}


.modal-content {
    padding: 20px;
    background-color: var(--modal-main-color);
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    font-size: 0.8rem;
    border-radius: 10px;
}

.modal-form {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.modal-content > p {
    text-align: center;
}

.name-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.name-input {
    border: 1px solid var(--input-border-color);
    border-radius: 3px;
    color: var(--btn-background-color);
}


.modal-start {
    width: fit-content;
    align-self: center;
    border: none;
    border-radius: 5%;
    padding: 5px;
    background-color: var(--btn-background-color);
    color: var(--btn-text-color);
}

.modal-start:hover {
    background-color: var(--btn-hover-color);
    cursor: pointer;
}

.playAgainModal {
    width: 100%;
    height: 100%;
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: var(--modal-background-color);
}

.play-again-content {
    width: fit-content;
    height: fit-content;
    background-color: var(--modal-main-color);
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;

}

.play-again-btns {
    width: 80%;
    height: fit-content;
    display: flex;
    justify-content: space-evenly;


}

.play-again-btn {
    width: 80px;
    height: 30px;
    border: none;
    border-radius: 3px;
    background-color: var(--btn-background-color);
    color: var(--btn-text-color);
}

.play-again-btn:hover {
    background-color: var(--btn-hover-color);
    cursor: pointer;
}








